# указывается email для выпуска сертификата
{
	email user@domain.com
}
# указывается доменное имя и порт, на которых должен быть доступен WGDashboard
# при изменении порта его нужно поменять и в конфиге nftables
https://your.domain.com:4443 {
	reverse_proxy 127.0.0.1:10086
}